<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-8 col-md-5">
        <h5 class="title">Best Movies</h5>
        <p class="description">
          Your home of great movies for less prices. Chill and get served with hot content
        </p>
      </div>
      <div class="col-2">
        <ul class="list-unstyled">
          <li>
            <a class="footerlink" href="/">
              Movies
            </a>
          </li>
          <li>
            <a class="footerlink" href="/">
              About
            </a>
          </li>
          <li>
            <a class="footerlink" href="/">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
